<%- layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="mb-3 text-center">Add a campground</h1>
    <div class="col-md-6 offset-3 mb-4">
    <form action="/campgrounds" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-2">
        <label class="form-label" for="title">Title</label>
        <input type="text" class="form-control" id="title" name="campground[title]" required/>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="location">Location</label>
        <input type="text" class="form-control" id="location" name="campground[location]" required/>
        <div class="valid-feedback">
            Looks good!
        </div>
      </div>
      <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="dollar-sign">$</span>
          <input type="text" class="form-control" name="campground[price]" aria-describedby="dollar-sign" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="description">Description</label>
        <textarea type="text" class="form-control" id="description" name="campground[description]" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label" for="image">Upload Image(s)</label>
        <input type="file" name="image" id="image" class="form-control" multiple>
      </div>
      <button class="btn btn-success my-2">Submit</button>
    </form>
    <div>
      <a href="/campgrounds">All Campgrounds</a>
    </div>
  </div>
</div>

